@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

:root {
  --primary-color: #2563eb;
}

body {
  font-family: "Montserrat", sans-serif;
}

.navigation {
  background-color: var(--primary-color);
  color: white;

  border-bottom-left-radius: 1rem;
}
.navigation .nav-heading {
  font-weight: bolder;
  padding: 1rem 1rem;
}

.navigation .non-bullet-inline-list {
  list-style: none;
  text-align: right;
  padding-bottom: 1rem;
}
.navigation .list-item {
  display: inline;
  padding: 1rem 1rem;
}
.navigation .link {
  text-decoration: none;
  color: white;
}
